@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    border: 1px solid black;
}

h1 {
    font-family: Norse-Bold; 
}

.hero-image {
    width: 200px;
    height: 200px;
}