@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container-left {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 785px;

}

.hero-image {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bottom-hero-text {
    font-size: calc(.6rem + .5vw);
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

.odin-logo {
    width: 75px;
    height: 75px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    position: absolute;
    top: 15%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 100%;
    color: white;
    font-family: Norse-Bold;
    font-size: 2rem;
    height: 100px;
}

.header h1 {
    padding-top: 15px;
}

.bottom-hero-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 20px;
    left: 25%;
    z-index: 1;
    color: white;
    gap: .3rem;
    opacity: 0.6;
}

.bottom-hero-text a {
    color: white;
}

.container-right {
    position: relative;
    background-color: #f5f5f5;
    height: 642px;
}

.container-right-text {
    background-color: #f5f5f5;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 20px;
    width: 83%;
}

.container-right-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    font-size: .83rem;
    width: 100%;
    flex-wrap: wrap;
}


.container-right-form p {
    padding-top: 1em;
    padding-left: .7em;
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 75px;
}

label {
    display: block;
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    outline: none;
    border: 1px solid black;
}

@media screen and (max-width: 1127px)
{
    label {
        font-size: 1rem;
    }
    input {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px)
{
    label {
        font-size: .875rem;
    }
    input {
        font-size: .875rem;
    }
}

input:focus {
    border: 5px solid green;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

.error {
    display: none;
}


.container-right-button-section {
    background-color: yellow;
    height: 20%;
    background-color: #f5f5f5;
    padding-left: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-button {
    background-color: #596D48;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.log-in-link {
    text-decoration: none;
    color:  #596D48;
    font-weight: 600;
}